/* This begins a multi-line comment

CONFIGURATION FILE FOR BPQ32: G8BPQ SWITCH SOFTWARE

The purpose of this configuration is simply to confirm that the basic BPQ32
system is operable.  It contains only a LOOPBACK port.

To perform the basic test, execute BPQTerminal.exe, and in the lowest window enter:

C 1 MYNODE v MYCALL

You should receive the following response:

MYNODE:MYCALL} Connected to MYNODE
This is the CTEXT.
MYNODE:MYCALL} CONNECT BYE INFO NODES ROUTES PORTS USERS MHEARD

If you get the above response the basic test has succeeded.

..\Examples\Minimal

*/ This ends a multi-line comment

NODECALL=MYCALL		; Node callsign
NODEALIAS=MYNODE	; Node alias (6 characters max)
IDMSG:				; UI broadcast text from NODECALL to fixed dest ID
This is the IDMSG text.
***					; Denotes end of IDMSG text
BTEXT:				; UI broadcast text from BCALL to destination UNPROTO=
This is the BTEXT text.
***					; Denotes end of BTEXT text
INFOMSG:			; The INFO command text follows:
This is the INFOMSG text.
***					; Denotes end of INFOMSG text
CTEXT:				; The CTEXT text follows:
Minimal BPQ32 installation successful.
MYNODE:MYCALL} CONNECT BYE INFO NODES ROUTES PORTS USERS MHEARD
***			; Denotes end of CTEXT text
FULL_CTEXT=0		; 0=send CTEXT to L2 connects to NODEALIAS only
					; 1=send CTEXT to all connectees

; Network System Parameters:
OBSINIT=6			; Initial obsolescence set when a node is included
					; in a received nodes broadcast. This value is then
					; decremented by 1 every NODESINTERVAL.
OBSMIN=4			; When the obsolescence of a node falls below this
					; value that node's information is not included in
					; a subsequent nodes broadcast.
NODESINTERVAL=15	; Nodes broadcast interval in minutes
IDINTERVAL=0		; 'IDMSG' UI broadcast interval in minutes, 0=OFF
BTINTERVAL=0		; The BTEXT broadcast interval in minutes, 0=OFF
L3TIMETOLIVE=25		; Max L3 hops
L4RETRIES=3			; Level 4 retry count
L4TIMEOUT=60		; Level 4 timeout in seconds s/b > FRACK x RETRIES
L4DELAY=10			; Level 4 delayed ack timer in seconds
L4WINDOW=4			; Level 4 window size
MAXLINKS=63			; Max level 2 links
MAXNODES=512		; Max nodes in nodes table
MAXROUTES=64		; Max adjacent nodes
MAXCIRCUITS=128		; Max L4 circuits
MINQUAL=168			; Minimum quality to add to nodes table
; INP3 Routing is experimental.  The two parms which follow will be ignored
; unless activated in the ROUTES: section.
MAXHOPS=4			; INP3 hop limit to add to tables
MAXRTT=90			; INP3 max RTT in seconds
;BUFFERS=255		; This parameter is no longer used in the Win32 version.
					; BPQ32 allocates an adequate number automatically.
					; I have the line commented out just to remind me it's gone!!
					
; TNC default parameters:
PACLEN=236			; Max packet size (236 max for net/rom)
					; 236 is suitable for reliable and fast connections, such
					; as AX/IP/UDP or a dedicated 9600 RF Link
					; 120 is suitable for a typical shared VHF packet radio connection
					; PACLEN is defined for each port individually in the ports sections
TRANSDELAY=1		; Transparent node send delay in seconds

; Level 2 Parameters:
; T1 (FRACK), T2 (RESPTIME) and N2 (RETRIES) are now in the PORTS section
T3=120				; Link validation timer in seconds
IDLETIME=720		; Idle link shutdown timer in seconds

; Configuration Options:
AUTOSAVE=1			; Saves BPQNODES.dat upon program exit
BBS=0				; 1 = BBS support included, 0 = No BBS support
NODE=1				; Include switch support
HIDENODES=1			; If set to 1, nodes beginning with a #
					; require a 'N *' command to be displayed.
/*
The *** LINKED command is intended for use by gateway software, and concern
has been expressed that it could be misused. It is recommended that it be
disabled (=N) if unneeded.
*/
ENABLE_LINKED=N		; Controls processing of *** LINKED command
					; Y = allows unrestricted use
					; A = allows use by application program
					; N = disabled
/*
AX25 port definitions:
The LOOPBACK port simulates a connection by looping input to output. To test,
start BPQTerminal and enter: 'C 1 MYNODE via MYCALL'
In this example '1' is the LOOPBACK port number. The LOOPBACK port is provided
for testing purposes and would rarely be included in an established system.
*/
; LOOPPACK sport specification
PORT
 PORTNUM=1			; Optonal but sets port number if stated
 ID=LOOPBACK		; Defines the Loopback port name
 TYPE=INTERNAL		; Loopback is an internal type
ENDPORT

/*
ROUTES:				; Locked routes (31 maximum)
;There are no locked routes in this example.
***					; Denotes end of locked routes
*/

/*
Applications:
There are no associated applications, thus no active APPLICATION statements.
*/
