/* This begins a multi-line comment

CONFIGURATION FILE FOR BPQ32: G8BPQ SWITCH SOFTWARE

Configuration written by Ron Stordahl, AE5E 2014/11/11

A1ABC's BPQ32 node ABCNOD:A1ABC-14 consisting of:

BPQMail BBS and BPQCHAT Chat applications accessible by radio and internet

..\Examples\Small

*/ This ends a multi-line comment
;BPQ32 Network Display: www.cantab.net/users/john.wiseman/Documents/BPQNodeMap.htm
;LOCATOR=XXnnXX	;Grid Square or alternately:
;LOCATOR=dd.ddddd,-ddd.ddddd	;+ Latitude is North, - Longitude is West
MAPCOMMENT=APRS on 144.39<br>DX Packet on 147.525

;SYSOP Password: www.cantab.net/users/john.wiseman/Documents/Node%20SYSOP.html
PASSWORD=Y5FSAVDQP8
;        1234567810


NODECALL=A1ABC-14	; Node callsign (6 characters max with an optional -SSID)
NODEALIAS=ABCNOD	; Node alias (6 characters max)
; You should choose an unique alias.  A likely unique alias could be formed
; from part of your call plus NODE or NOD
IDMSG:				; UI broadcast text from NODECALL to fixed dest 'ID'
A1ABC-14 G8BPQ Net/Rom Switch
***					; Denotes end of IDMSG text

/*
The BTEXT below contains an APRS location specification. Search the internet
for "APRS Protocol Specification" for details on the format.  If you do not
care to do this, it would be best to replace the line by simple non APRS
text rather than transmit incorrect data which may find it's way via APRS
IGates to the internet!
*/

BTEXT:				; UI broadcast text from BCALL to destination UNPROTO=
					; Coordinates in APRS format: ddmm.mm(N|S) latitude
					; dddmm.mm(W|E) longitude,For longitude the the first 'd'
					; must be either 0 or 1.
!ddmm.mmN/dddmm.mmW%BPQ32 Node
***					; Denotes end of BTEXT text

INFOMSG:			; The INFO command text follows:
Connect initially to A1ABC-14, then choose among:

  BBS    - for BPQMailChat BBS
  CHAT   - for BPQMailChat CHAT

For 'one step' service disconnect from A1ABC-14 and connect instead to:

  ABCBBS  or A1ABC-3  - for BPQMailChat BBS
  ABCCHT  or A1ABC-2  - for BPQMailChat CHAT
  
ABCNOD:A1ABC-14} BBS CHAT REMDXA CONNECT BYE INFO NODES ROUTES PORTS USERS MHEARD
***					; Denotes end of INFOMSG text
; Try to make the above aliases unique among others on the network, by creating the aliases
; from part of your call followed by the application, i.e. 1XCHT rather than just CHAT.
; See the APPLICATION statements near the end of this file for further information. 

CTEXT:			; The CTEXT text follows:
Enter 'INFO' for connection information.
ABCNOD:A1ABC-14} BBS CHAT REMDXA CONNECT BYE INFO NODES ROUTES PORTS USERS MHEARD
***					; Denotes end of CTEXT text
FULL_CTEXT=0		; 0=send CTEXT to L2 connects to NODEALIAS only
					; 1=send CTEXT to all when connecting
				
; Network System Parameters:
OBSINIT=6			; Initial obsolescence set when a node is included
					; in a received nodes broadcast. This value is then
					; decremented by 1 every NODESINTERVAL.
OBSMIN=4			; When the obsolescence of a node falls below this
					; value that node's information is not included in
					; a subsequent nodes broadcast.
NODESINTERVAL=15	; Nodes broadcast interval in minutes
IDINTERVAL=0		; 'IDMSG' UI broadcast interval in minutes, 0=OFF
BTINTERVAL=0		; The BTEXT broadcast interval in minutes, 0=OFF
L3TIMETOLIVE=25		; Max L3 hops
L4RETRIES=3			; Level 4 retry count
L4TIMEOUT=60		; Level 4 timeout in seconds s/b > FRACK x RETRIES
L4DELAY=10			; Level 4 delayed ack timer in seconds
L4WINDOW=4			; Level 4 window size
MAXLINKS=63			; Max level 2 links
MAXNODES=512		; Max nodes in nodes table
MAXROUTES=64		; Max adjacent nodes
MAXCIRCUITS=128		; Max L4 circuits
MINQUAL=168			; Minimum quality to add to nodes table
; INP3 Routing is experimental.  The two parms which follow will be ignored
; unless activated in the ROUTES: section.
MAXHOPS=4			; INP3 hop limit to add to tables
MAXRTT=90			; INP3 max RTT in seconds
;BUFFERS=255		; This parameter is no longer used in the Win32 version.
					; BPQ32 allocates an adequate number automatically.
					; I have the line commented out just to remind me it's gone!!
					
; TNC default parameters:
PACLEN=236			; Max packet size (236 max for net/rom)
					; 236 is suitable for reliable and fast connections, such
					; as AX/IP/UDP or a dedicated 9600 RF Link
					; 120 is suitable for a typical shared VHF packet radio connection
					; PACLEN is defined for each port individually in the ports sections
TRANSDELAY=1		; Transparent node send delay in seconds

; Level 2 Parameters:

; T1 (FRACK), T2 (RESPTIME) and N2 (RETRIES) are now in the PORTS section

T3=120				; Link validation timer in seconds
IDLETIME=720		; Idle link shutdown timer in seconds

; Configuration Options:

AUTOSAVE=1			; Saves BPQNODES.dat upon program exit
BBS=1				; 1 = BBS support included, 0 = No BBS support
NODE=1				; Include switch support
HIDENODES=1			; If set to 1, nodes beginning with a #
					; require a 'N *' command to be displayed.

; The *** LINKED command is intended for use by gateway software, and concern
; has been expressed that it could be misused. It is recommended that it be
; disabled (=N) if unneeded.

ENABLE_LINKED=N		; Controls processing of *** LINKED command
					; Y = allows unrestricted use
					; A = allows use by application program
					; N = disabled

; AX25 port definitions:
; AX/IP/UDP port definition.
PORT
 PORTNUM=1			; Optional but sets port number if stated
 ID=AX/IP/UDP		; Displayed by PORTS command
 DRIVER=BPQAXIP		; Includes BPQAXIP
 QUALITY=192		; Quality factor applied to node broadcasts heard on
					; this port, unless overridden by a locked route
					; entry. Setting to 0 stops node broadcasts
 MINQUAL=142		; Entries in the nodes table with qualities greater or
					; equal to MINQUAL will be sent on this port. A value
					; of 0 sends everything.
 FRACK=5000			; Level 2 timout in milliseconds
 RESPTIME=1000		; Level 2 delayed ack timer in milliseconds
 RETRIES=5			; Level 2 maximum retry value
 MAXFRAME=7			; Max outstanding frames (1 thru 7)
 PACLEN=236			; Max = 236.
 CONFIG				; BPQAXIP.cfg has been deprecated.  Instead the AXIP
					; configuration occurs here:
 MHEARD				; Opens AXIP MHEARD window
 UDP 10093			; Listens for UDP packets on this UDP port number
; You may listen on additional port numbers if desired:
; UDP 10094			; Listens for UDP packets also on these UDP port number(s)

; The default behaviour is to not add information to BPQ32's nodes table
; for AX/IP/UDP nodes which are not explicitly mapped, as below.
; The default behaviour can be modified with these commands:
; DONTCHECKSOURCECALL	; This option allows entries in the NODES table from
						; stations sending you nodes broadcasts without the
						; corresponding node being configured in bpqaxip.cfg. 
; AUTOADDMAP		; This option automatically adds the node call and
					; address of a node for which you do not have a
					; pre-arranged fixed entry in bpqaxip.cfg.  If the 
					; option DONTCHECKSOURCECALL is specified then the
					; AUTOADDMAP option is ignored.
				
BROADCAST NODES

MAP Y2DEF-1 y2def.no-ip.biz UDP 10093 B			;Dynamic address
MAP A1ABC-13 192.168.1.10 UDP 10093 B			;Another BPQ32 Node on my LAN
MAP U3GHI-10 0.0.0.0 TCP-Slave 10095 B			;U3GHI-10 can connect via TCP Port 10095
; U3GHI-10 must have: MAP A1ABC-14 "A1ABC-14's address" TCP-Master 10095 B
; in his configuration file to make the link.  A TCP connection is useful when U3GHI-10
; does not have access to set the local router to allow an incoming UDP connection,
; such as when using WiFi at a restaurant!  It can also be useful when your ISP blocks
; or quickly times out UDP connections beyond your control.  If you are having difficulty
; getting UDP to work reliably you could ask a regularly on BPQ32 node to set you up
; to connect via TCP instead of UDP.  It could solve the problem.  

; You may have as many UDP and TCP mappings as you like..but you will have to
; pre-arrange them with the other party.  As an alternative you could enable AUTOADDMAP
; but this will allow unknown UDP users to connect to you, which could be fine...or not!

; If INP3 routing (experimental at this point) is utilized the 'B' command
; should not be included
; MAP BB9BB-6 example.com UDP 10093

; A keepalive may be needed if you have not properly configured your
; router to direct incoming UDP traffic to the specific machine on you
; LAN which is running BPQ32.  You should properly configure your router
; so that the keepalive is unneeded, as this ploy is not completely
; reliable!

; In the exceptional case where your ISP is dropping your incoming traffic
; testing has found that the keepalive might help 'keep the door open'.
; In the following example a keepalive packet is sent every 30 seconds:
; MAP AA1AA-1 example.net KEEPALIVE 30 UDP 10093 B

; An experimental TCP communication mode was added with the 2009/Aug/28 Beta
; release. The purpose is to circumvent router issues which are almost certain
; when 'your side', which we will call the client side, cannot control access
; to direct incoming UDP packets to your machine.  Instead you will originate
; a connection via TCP. TCP is a connected protocol, all routers should
; automatically set up the return path to your machine.

; An example would be your BPQ32 node, with a node call of MYCALL-5, on a
; laptop at a public access WiFI site. To connect to AA1AA-1 via this method
; you will need this entry in your MAP list (without the ; of course):
; MAP AA1AA-1 example.net TCP-Master 10093 B

; AA1AA-1 is the node call of the remote side, e.g. server side.  The server
; side must have the ability to program its router to direct incoming TCP
; traffic with the specified port number to the machine running BPQ32 Node
; AA1AA-1, just as it does for UDP.

; BPQ32 Node AA1AA-1 at URL=example.net would add the folllowing entry to its
; MAP list:
; MAP MYCALL-5 0.0.0.0 TCP-Slave 10093 B

; As a result AA1AA-1 will listen for TCP packets on port 10093 from MYCALL-5.
; When heard, a TCP connection will result over which AX.25 traffic will flow.
; The server side obtains the client side ip address when the connection
; request is received.

; As currently implemented the client side will have to make advance
; arrangements with the server side so that the correct MAP entries will be in
; effect, as well as to specify a unique TCP port number for each prearranged
; client.
ENDPORT

; Radio port definitions.

; Suitable parameters for radio ports depend upon the quality and speed of the port.
; For 1200 baud RF shared access suggested values are:
; FRACK=8000, RESPTIME=1500, RETRIES=10, MAXFRAME=2, PACLEN=120
; For 9600 baud dedicated high quality suggested values are:
; FRACK=5000, RESPTIME=1000, RETRIES=5, MAXFRAME=7, PACLEN=236
; 
; With the following definition BPQ32 accesses the TNC directly.
; The TNC used is a MFJ1270C (a TNC2 device) with the JKISS ERPOM
PORT
 PORTNUM=2			; Optional but sets port number if stated
 ID=BPQ 147.525 MHz	; Displayed by PORTS command
 TYPE=ASYNC			; Port is RS232
 PROTOCOL=KISS		; TNC is used in KISS or JKISS mode
; The KISSOPTIONS statement should not be included for KISS or JKISS tnc's.
; See ..\RelatedFiles\KissRoms\KissRoms.zip for details.
; KISSOPTIONS=CHECKSUM,ACKMODE	; Using BPQKISS eprom w/o polling
 FULLDUP=0			; Only meaningful for KISS devices
 COMPORT=/dev/ttyACM0
 SPEED=9600			; RS232 COM PORT SPEED
 CHANNEL=A			; A for single channel TNC, A or B for multichannel
 PERSIST=64			; PERSIST=256/(# of transmitters-1)
 SLOTTIME=100		; CMSA interval timer in milliseconds
 TXDELAY=300		; Transmit keyup delay in milliseconds
 TXTAIL=30			; TX key down, in milliseconds, at packet end
 QUALITY=192		; Quality factor applied to node broadcasts heard on
					; this port, unless overridden by a locked route
					; entry. Setting to 0 stops node broadcasts
 MINQUAL=168		; Entries in the nodes table with qualities greater or
					; equal to MINQUAL will be sent on this port. A value
					; of 0 sends everything.
 FRACK=8000			; Level 2 timout in milliseconds
 RESPTIME=1500		; Level 2 delayed ack timer in milliseconds
 RETRIES=10			; Level 2 maximum retry value
 MAXFRAME=2			; Max outstanding frames (1 thru 7)
 PACLEN=120			; Default max packet length for this port.
					; PACLEN is ignored for APRS packets
 UNPROTO=APBQ1		; BTEXT broadcast addrs format: DEST[,digi1[,digi2]]
 BCALL=A1ABC-14		; BTEXT call. Unstated defaults to NODECALL
 L3ONLY=0			; 1=No user downlink connects on this port
 DIGIFLAG=0			; Digipeat: 0=OFF, 1=ALL, 255=UI Only
 DIGIPORT=0			; Port on which to send digi'd frames (0 = same port)
 USERS=0			; Maximum number of L2 sessions, 0 = no limit
ENDPORT

ROUTES:				; Locked routes (31 maximum)
/*					; Begin comment block
CALLSIGN,QUALITY,PORT[,MAXFRAME,FRACK,PACLEN,INP3Enable]

MAXFRAME, Frack and PACLEN if stated override the port defaults.
INP3Enable = 1 enables, 0 or null disable.  The INP3 (internode protocol)
implementation in BPQ32 is experimental.
Example of a route statement using INP3:
HISCAL-12,1,1,0,0,0,1

If you are in range of another radio node you may choose to lock the
route. Locked routes tend to be overused and should not be set unless
truly needed.
*/					; End comment block
YY1Y-3,193,1
***					; Denotes end of locked routes

/*
Applications:

You can define additional Node commands that are available to your users. These may connect to
applications running on you computer, or be aliases or 'shortcuts' to other node commands.
For example you can define the command "BBS". This can either be set up to connect to a BBS running
on your computer, or to be an alias for a command that connects to a BBS on another system.

You can set up a callsign that if connected to will select the command, and if required cause the
call to be added to your NODES list.

The format is:

APPLICATION n,CMD,New Command,Call,Alias,Quality

n Application Number. You can define up to 32.
CMD The command the user types
New Command (optional) The Node command to be run
Call (optional) The call which directly invokes CMD
Alias and Quality (optional) If specified, causes an entry for Call and Alias to be added to your
NODES table with the specified Quality.

Associated with each Application number is an application mask. 

  Appl: 1,2,3,4,5,6,7,8, etc
  Decimal Mask: 1,2,4,8,16,32,64,128, etc
  Hexadecimal Mask: 0x1,0x2,0x4,0x8,0x10,0x20,0x40,0x80, etc

*/

; The following line will create an entry in the nodes table of 1XCHT:A1ABC-2 with a quality 1 less
; than ABCNOD:A1ABC-14
; You must execute and properly configure BPQCHAT.exe for this link to be active.
APPLICATION 1,CHAT,,A1ABC-2,ABCCHT,255				;A1ABC-2 BPQChat on this machine

; The following line will create an entry in the nodes table of ABCBBS:A1ABC-3 with a quality 1 less
; than ABCNOD:A1ABC-14
; You must execute and properly configure BPQMail.exe for this link to be active
APPLICATION 2,BBS,,A1ABC-3,ABCBBS,255					;A1ABC-3 BPQMail on this machine
